@import 'settings';
@import 'foundation-emails';

@import 'template/template';

$subheader1: #f2650f;
$subheader2: #7a99ac;
$color1: #ffffff;

.header-ctn {
  padding: 0;
}

.img-ctn {
  position: relative;
  width: 100%;

  img:nth-child(2) {
    position: absolute;
    bottom: 20px;
    left: 20px;
  }
}

.subheader1 {
  background-color: $subheader1;
  color: $color1;
  padding: 20px 0;
  font-size: 15px;
}

.subheader2 {
  background-color: $subheader2;
  font-size: 14px;
  padding-right: 20px;
  padding-top: 2px;
  padding-bottom: 2px;

  a {
    color: $color1;
    text-decoration: underline;
  }
}
